<template>
  <v-btn
    :icon="icon"
    :text="text"
    :depress="depress"
    :dark="dark"
    :color="colour"
    @click="PopUp"
  >
    <!--conditional rendering using vue directives-->
    <v-icon v-if="icon">{{ icon_type }}</v-icon>
    {{ label }}
  </v-btn>
</template>

<script>
export default {
  name: "Button",
  props: ["label", "colour", "depress", "dark", "icon", "icon_type", "text"],
  methods: {
    PopUp() {
      this.$emit("click");
    },
  },
};
</script>
