<template>
  <v-text-field
    :label="label"
    :placeholder="placeholder"
    :outlined="outlined"
  ></v-text-field>
</template>

<script>
export default {
  name: "TextField",
  props: ["label", "placeholder", "outlined"],
};
</script>
