<template>
  <v-container fluid class="grey lighten-5 mb-2 ma-0 pa-0 ">
    <!--FIRST ROW : USER PROFILE TOOLBAR-->
    <v-row>
      <!--first column in first row-->
      <v-col md="12">
        <!--profile bar-->
        <v-app-bar style="height: 100%;">
          <v-spacer></v-spacer>

          <v-menu left bottom v-model="user_profile">
            <template v-slot:activator="{}">
              <!--common button component: user profile button-->
              <Button :icon="true" @click="UserProfile" icon_type="mdi-account">
              </Button>
            </template>

            <v-list>
              <v-list-item v-for="p in profile" :key="p" @click="() => {}">
                <v-list-item-title>{{ p }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-app-bar>
      </v-col>
    </v-row>
    <!--FIRST ROW : USER PROFILE TOOLBAR-->

    <!--SECOND ROW : EVENT CREATION-->
    <v-row class="ma-3">
      <!--first column in second row-->
      <v-col md="2">
        Events List
      </v-col>

      <!--second column in second row-->
      <v-col md="10" style="text-align: end;">
        <!--common button component: to trigger dialog/popup-->
        <Button
          :depress="false"
          :dark="true"
          colour="#8e44ad"
          label="Add Event"
          @click="OpenDialog"
        ></Button>

        <!--add event pop-up-->
        <v-dialog v-model="dialog" width="500">
          <!--add event card-->
          <v-card style="overflow: hidden;">
            <v-card-title class="text">
              Add Events
            </v-card-title>

            <v-card-text>
              <!--image drag/drop-->
              <v-row no-gutters class="ma-3">
                <div class="helper"></div>
                <div
                  class="drop display-inline align-center"
                  @dragover.prevent
                  @drop="onDrop"
                >
                  <div class="helper"></div>
                  &nbsp;<span>Add Cover Picture Here</span>
                  <label
                    v-if="!image"
                    class="display-inline"
                    style="cursor: pointer;"
                  >
                    <img src="../assets/add_image.png" height="70" />
                    <input type="file" name="image" @change="onChange" />
                  </label>
                  <div
                    class="hidden display-inline align-center"
                    v-else
                    v-bind:class="{ image: true }"
                  >
                    <img
                      :src="image"
                      alt=""
                      class="img"
                      height="50px"
                      width="50px"
                    />
                    <br />
                    <br />
                  </div>
                </div>
              </v-row>

              <!--form fields in vue-->
              <v-row no-gutters class="ma-3">
                <v-col md="6">
                  <v-row no-gutters class="ma-3">
                    <v-col md="12">
                      <!--common text-field component: event name field-->
                      <TextField
                        label="Event Name"
                        placeholder="Name"
                        :outlined="true"
                      ></TextField>
                    </v-col>
                  </v-row>
                  <v-row no-gutters class="ma-3">
                    <v-col md="12">
                      <!--common text-field component: timing field-->
                      <TextField
                        label="Timing"
                        placeholder="Time"
                        :outlined="true"
                      ></TextField>
                    </v-col>
                  </v-row>
                  <v-row no-gutters class="ma-3">
                    <v-col md="12">
                      <!--common text-field component: venue field-->
                      <TextField
                        label="Venue"
                        placeholder="Venue"
                        :outlined="true"
                      ></TextField>
                    </v-col>
                  </v-row>
                </v-col>

                <v-col md="6">
                  <v-row no-gutters class="ma-3">
                    <v-col md="12">
                      <!--common text-field component: date range field-->
                      <TextField
                        label="Date Range"
                        placeholder="Range"
                        :outlined="true"
                      ></TextField>
                    </v-col>
                  </v-row>
                  <v-row no-gutters class="ma-3">
                    <v-col md="12">
                      <!--common text-field component: hall name field-->
                      <TextField
                        label="Hall Name"
                        placeholder="Hall Name"
                        :outlined="true"
                      ></TextField>
                    </v-col>
                  </v-row>
                  <v-row no-gutters class="ma-3">
                    <v-col md="12">
                      <!--common text-field component: description field-->
                      <TextField
                        label="Description"
                        placeholder="Description"
                        :outlined="true"
                      ></TextField>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-card-text>

            <!--save and close buttons of dialog-->
            <v-card-actions>
              <v-spacer></v-spacer>
              <!--common button component - save button-->
              <Button
                :depress="false"
                :dark="true"
                colour="#8e44ad"
                label="Save"
                @click="OpenDialog"
              ></Button>
              <!--common button component - close button-->
              <Button
                :text="true"
                colour="#bdc3c7"
                label="Close"
                @click="dialog = false"
              ></Button>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
    </v-row>
    <!--SECOND ROW : EVENT CREATION-->

    <!--THIRD ROW : EVENT TABLE-->
    <v-row class="ma-3">
      <v-col md="12">
        <!--table-->
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">
                  S.no
                </th>
                <th class="text-left">
                  Event Image
                </th>
                <th class="text-left">
                  Event Name
                </th>
                <th class="text-left">
                  From Date
                </th>
                <th class="text-left">
                  To Date
                </th>
                <th class="text-left">
                  Timing
                </th>
                <th class="text-left">
                  Venue
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="t in table" :key="t['S.no']">
                <td>
                  <b>{{ t["S.no"] }}</b>
                </td>
                <td>
                  <v-img
                    contain
                    class="ma-2"
                    height="50px"
                    width="100px"
                    :src="require('../assets/' + t['Event Image'])"
                    style="border-radius: 10px;"
                  />
                </td>
                <td>{{ t["Event Name"] }}</td>
                <td>{{ t["From Date"] }}</td>
                <td>{{ t["To Date"] }}</td>
                <td>{{ t["Timing"] }}</td>
                <td>
                  <b>{{ t["Venue"] }}</b
                  ><br />
                  2655 South Orange Ave,Forida
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-col>
    </v-row>
    <!--THIRD ROW : EVENT TABLE-->
  </v-container>
</template>

<!--scoped css means styles are specific to this component-->
<style scoped>
input[type="file"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.align-center {
  text-align: center;
}
.helper {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 0;
}
.hidden {
  display: none !important;
}
.hidden.image {
  display: inline-block !important;
}
.display-inline {
  display: inline-block;
  vertical-align: middle;
}
.img {
  border: 1px solid #f6f6f6;
  display: inline-block;
}
.drop {
  background-color: #f2f2f2;
  border: 4px dashed #ccc;
  background-color: #f6f6f6;
  border-radius: 2px;
  height: 100%;
  max-height: 100%;
  width: 100%;
}
.form_style {
  border: 1px solid grey;
  border-radius: 5px;
}
</style>

<script>
import Button from "../components/common_components/button.vue";
import TextField from "../components/common_components/textfield.vue";

export default {
  name: "EventsPage",
  data: () => ({
    dialog: false,
    user_profile: false,
    image: "",
    profile: ["edit profile", "account settings", "sign out"],
    table: [
      {
        "S.no": "01",
        "Event Image": "Gala_music_festival.jpg",
        "Event Name": "Gala Music festival",
        "From Date": "7th Feb, 2021",
        "To Date": "7th Feb, 2021",
        Timing: "4pm - 6pm",
        Venue: "Gala Night Convention",
      },
      {
        "S.no": "02",
        "Event Image": "conference_event.jpg",
        "Event Name": "Conference Event",
        "From Date": "7th Feb, 2021",
        "To Date": "7th Feb, 2021",
        Timing: "4pm - 6pm",
        Venue: "Gala Night Convention",
      },
      {
        "S.no": "03",
        "Event Image": "gallery.jpg",
        "Event Name": "Gallery Show",
        "From Date": "7th Feb, 2021",
        "To Date": "7th Feb, 2021",
        Timing: "4pm - 6pm",
        Venue: "Gala Night Convention",
      },
      {
        "S.no": "04",
        "Event Image": "conference_event.jpg",
        "Event Name": "Conference Event",
        "From Date": "7th Feb, 2021",
        "To Date": "7th Feb, 2021",
        Timing: "4pm - 6pm",
        Venue: "Gala Night Convention",
      },
      {
        "S.no": "05",
        "Event Image": "conference_event.jpg",
        "Event Name": "Conference Event",
        "From Date": "7th Feb, 2021",
        "To Date": "7th Feb, 2021",
        Timing: "4pm - 6pm",
        Venue: "Gala Night Convention",
      },
      {
        "S.no": "06",
        "Event Image": "Gala_music_festival.jpg",
        "Event Name": "Gala Music festival",
        "From Date": "7th Feb, 2021",
        "To Date": "7th Feb, 2021",
        Timing: "4pm - 6pm",
        Venue: "Gala Night Convention",
      },
    ],
  }),
  methods: {
    OpenDialog() {
      this.dialog = true;
    },
    UserProfile() {
      this.user_profile = true;
    },
    onDrop: function(e) {
      e.stopPropagation();
      e.preventDefault();
      var files = e.dataTransfer.files;
      this.createFile(files[0]);
    },
    onChange(e) {
      var files = e.target.files;
      this.createFile(files[0]);
    },
    createFile(file) {
      if (!file.type.match("image.*")) {
        alert("Select an image");
        return;
      }
      // var img = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = function(e) {
        vm.image = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    removeFile() {
      this.image = "";
    },
  },
  components: {
    Button,
    TextField,
  },
};
</script>
