<template>
  <div><Button label="Submit"></Button></div>
</template>

<script>
import Button from "primevue/button";
export default {
  name: "PrimeFaces",
  components: {
    Button,
  },
};
</script>
