<template>
  <!-- <v-app-bar 
      color="deep-purple" 
      dark 
      dense
    >

      <v-app-bar-nav-icon  @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
    
    </v-app-bar> -->

  <!--side navigation menu-->
  <v-navigation-drawer
    app
    :disable-resize-watcher="false"
    v-model="drawer"
    :permanent="!$vuetify.breakpoint.xsOnly"
    dark
    style="background-color: #8e44ad;"
  >
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title class="text-h6">
          Eventsapp
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-list dense nav>
      <v-list-item v-for="c in choices" :key="c.type" :to="c.route" link>
        <v-list-item-icon>
          <v-icon>{{ c.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ c.type }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: "LeftNavigation",
  data: () => ({
    drawer: true,
    group: null,
    choices: [
      { type: "Events", icon: "mdi-calendar", route: "/" },
      { type: "Education", icon: "mdi-school", route: "/about" },
      { type: "Property", icon: "mdi-garage", route: "/primefaces" },
      { type: "Learning", icon: "mdi-account-tie", route: "" },
    ],
  }),
  watch: {
    group() {
      this.drawer = false;
    },
  },
};
</script>
