<template>
  <v-app>
    <!--left navigation component-->
    <LeftNavigation />

    <!--main page content : to the right of navigation menu-->
    <v-main>
      <!--route views accordingly-->
      <router-view />
    </v-main>
  </v-app>
</template>

<!--importing common scss stylesheet-->
<style lang="scss">
@import "@/styles/font_family.scss";
</style>

<script>
import LeftNavigation from "./components/LeftNavigation";

export default {
  name: "App",
  components: {
    LeftNavigation,
  },
};
</script>
